menu "Root Project"
    config WEATHER_MQTT_BROKER
        string "The URL/address of the MQTT broker to use"
    config WEATHER_MQTT_INTERVAL
        int "Milliseconds per weather MQTT transmission"
        default 15000
    config WEATHER_POLL_SENSORS_INTERVAL
        int "Milliseconds per sensor poll"
        default 15000
endmenu
