menu "GPS Time Component"
    config GPS_TIME_SYNC
        bool "Enable GPS time sync with SparkFun SAM-M8Q"
        default y
        help
            When enabled, the firmware will periodically sync the time using
            the GPS time that the SparkFun SAM-M8Q GPS receiver receives.
    config GPS_TIME_LAG
        int "Number of valid GPS timestamps until setting the time of day"
        default 60
        depends on GPS_TIME_SYNC
        help
            Setting this number too high will result in inaccurate time of
            day.

            Setting this number too low will result in syncing time too
            often.
endmenu
