menu "Wireless Component"
    config WIRELESS_JOIN_SSID
        string "The SSID of the Wi-Fi network to join"
        default ""
    config WIRELESS_JOIN_PASSPHRASE
        string "The passphrase of the Wi-Fi network to join"
        default ""
    choice WIRELESS_SECURITY
         prompt "The Wi-Fi security level to scan and join"
         default WIRELESS_SECURITY_WPA_WPA2_PSK
         config WIRELESS_SECURITY_OPEN
            bool "No security level"
         config WIRELESS_SECURITY_WEP
            bool "WEP security level"
         config WIRELESS_SECURITY_WPA_PSK
            bool "WPA security level"
         config WIRELESS_SECURITY_WPA2_PSK
            bool "WPA2 security level"
         config WIRELESS_SECURITY_WPA_WPA2_PSK
            bool "WPA/WPA2 security level"
    endchoice
    config WIRELESS_AUTO_UPDATE
        bool "Enable automatic updates"
        default false
        help
            You probably should be signing your app binaries if you enable this
   config WIRELESS_RETRIES
      int "How many times to try joining the Wi-Fi network before stopping"
      default 5
endmenu
